#gameBoardTab{
    -fx-shape: "M 200 200 L 440 200 L 560 300 L 200 300 Z";
    /*-fx-background-color: #FFFFFF;*/
}
#cueTab{
    -fx-shape: "M 320 200 L 560 200 L 560 300 L 200 300 Z";
}
.button{
    -fx-font-weight: italic;
    -fx-background-color: #ff3300;
    -fx-background-radius: 22;
    -fx-font-size:36;
    -fx-text-fill: #330000;  
    -fx-border-width:3;
    -fx-border-radius:20;
    -fx-border-color:maroon;
}
.button:hover{
    -fx-font-weight: italic;
    -fx-background-color: #330000;
    -fx-background-radius: 22;
    -fx-font-size:36;
    -fx-text-fill: #ff3300; 
    -fx-border-color: #2196f3;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}
.button:pressed{
    -fx-font-weight: italic;
    -fx-background-color: #00ccff;
    -fx-background-radius: 22;
    -fx-font-size:36;
    -fx-text-fill:  #330000; 
    -fx-border-color: #2196f3;
    -fx-border-radius: 20;
    -fx-border-width: 3;
}
#hbox{
    -fx-background-color: transparent;
}

